body {
  background: url("https://firebasestorage.googleapis.com/v0/b/storytime-7f96d.appspot.com/o/Pattern-Randomized.svg?alt=media&token=32f07445-ca4d-4d04-b61a-a6dc6fdc4f0f");
  background-image: url("https://firebasestorage.googleapis.com/v0/b/storytime-7f96d.appspot.com/o/Pattern-Randomized.svg?alt=media&token=32f07445-ca4d-4d04-b61a-a6dc6fdc4f0f");
  background-attachment: fixed;
  background-size: auto;
}

/* background by SVGBackgrounds.com */
